# Python specific
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyz
*.pyw
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw

# Jupyter Notebook specific
.ipynb_checkpoints/
*.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

venv
env

# editors
.vscode
.vscode/

# generated images
*.png